<div class="hero-unit">
  <h1> mobile imap2 </h1>

  <form action="/logout" method="post">
    <fieldset>
      <input type="submit" class="btn primary" value="ログアウト" />
    </fieldset>
  </form>
</div>

<ul>
  <% @mails.each do |mail| %>
    <li><a href="#<%= mail[:message_id]%>"><%= mail[:subject] %></a></li>
  <% end %>
</ul>

<% @mails.each do |mail| %>
  <div id="<%= mail[:message_id] %>">
    <h2><%= mail[:subject] %></h2>
    <pre><%=h mail[:body] %></pre>
  </div>
  <hr />
<% end %>
